<div class="row">
<div class="col-md-12">
  <div class="panel panel-default" id="trending">
    <div class="panel-heading" >
    <span  class="fa fa-clock-o fa-2x text-muted" aria-hidden="true"></span>
      <p style="display: inline-block; font-size: 18px;">TRENDING</p>
    </div>
    <div class="panel-body" >
      <div class="list-group">
        <%count=0;%>
        <%@latest_posts.each do |posts|%>
          <%count=count+1;%>
          <a href="#" class="list-group-item" >
            <div id="listitem" >
              <div class="col-md-2 col-xs-2 numbers">
                <span class="text-muted" ><%=count%>.</span>
              </div>
              <div class="col-md-8 col-xs-8" style="padding: 2px;">
                <p style="text-align: left;"><%=posts.post_title%></p>
              </div>
              <div class="col-md-2 col-xs-2">
                <span class="fa fa-chevron-right fa-2x " aria-hidden="true" style="color: #ff3d00; " ></span>
              </div>
            </div>
            <hr style="margin:0;">                
          </a>
          <% if count==9 then break; end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>