<% provide(:title, "Log In") %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Sign Up</li>
</ol>
<div class="row">
<div class="col-md-9">
	<div class="well">
		<div class="row ">
			<div class="col-md-8 col-md-offset-1 ">
					<h1 style="font-size: 36px; margin-bottom: 10px; text-align: left;" >Log in here !</h1>
					<h2 style="text-align: left;"> Haven't signed up yet? Sign up <%= link_to "here !", new_user_path %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= render 'loginform' %>
			</div>
		</div>
	</div>
</div>



	<div class="col-md-3">
	  <%= render('static_pages/emailnewsletter')%>
	  <%= render('static_pages/trending')%>
	</div>
</div>



