<div class="col-md-6">
  <div class="well" style="background-color: #fff;">
    <div class="row">
      <div class="col-md-4">
        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
      </div>
      <div class="col-md-8">
        <h4><%= link_to user.name, user%></h4>
        <small><cite title="San Francisco, USA">London, United Kingdom
        <i class="glyphicon glyphicon-map-marker"></i></cite></small>
        <p>
          <i class="glyphicon glyphicon-envelope" style="padding-right: 5px;"></i><%= user.email %><br/>
          <i class="glyphicon glyphicon-gift" style="padding-right: 5px;"></i>April 01, 2017
        </p>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class:"btn btn-danger btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
</div>