<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <%=stylesheet_link_tag "users.css"%>
</head>
<body>


	<div class="container">    	
	  <div class="row">
      <div class="col-md-3" style="padding-left: 0px;">
        <div class="panel panel-default" style="">
          <div class="panel-heading" style="padding: 10px;"> Popular Categories
          </div>
            <div class="panel-body" id="popcategories">
              <a href="#section1" class="list-group-item">Mobile phones</a>
              <a href="#section2" class="list-group-item">Apple watch</a>
              <a href="#section3" class="list-group-item">Mac OS</a>
              <a href="#section3" class="list-group-item">Sixth Sense</a>
          </div>
        </div>
      </div>
			<div class="col-md-4">
				<ul>
      		<li><a href="#section1">Mobile phones</a></li>
      		<li><a href="#section2">Apple watch</a></li>
      		<li><a href="#section3">Mac OS</a></li>
      		<li><a href="#section3">Sixth Sense</a></li>
        </ul>
			</div>
	  </div>
	</div>
</body>