

<% provide( :title, 'Sign Up') %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Sign Up</li>
</ol>
<div class="row">
<div class="col-md-9">
	<div class="jumbotron">
		<div class="row ">
			<div class="col-md-8 col-md-offset-1 ">
					<h1 style="font-size: 36px;" class="pull-left">Create a new account !</h1>
					<h2 class="pull-left"> Already have an account? Sign in <%= link_to "here !", '#'%></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>



	<div class="col-md-3">
	  <%= render('static_pages/emailnewsletter')%>
	  <%= render('static_pages/trending')%>
	</div>
</div>





