<div class="row">
<!-- <p id="notice"><%= notice %></p>
 -->
	<div class="col-md-9">
		<div class="well">
			<h1 >Welcome <%= @user.name %></h1>
		</div>
	</div>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</div>