/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 */



.navbar {
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}
.navbar ul li a:hover{
 color: #23ca98 !important;	
 cursor: pointer; 
 background-color: transparent;
 text-decoration: none;
 }

#mynavclass li a:hover{
	font-weight: bold;
	border-right: 3px solid #23ca98 !important;

}


#myrightoplink {
	margin-right: 10px ;
	margin-top: 15px ;
	margin-bottom: 10px;
	font-size: 14px;
}
#myrightoplink a:hover{
	background-color: transparent;
}

#myloginicon, #mysignupicon {
	padding-right: 5px;
	margin-top: 5px;
}


#mynavclass a{
	font-size: 15px !important;
}

#mynavclass li{
	border-right: 2px solid #f2f2f2 !important;
}

#header_search_bar{
	margin-right: 0px;
	padding-left: 0px; 
	padding-right: 25px; 
	margin-top: 5px;
}