/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar {

	/*border: 2px solid #23ca98 !important;*/
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}


.navbar ul li a{
	color: black !important;
}
.navbar ul li a:hover{
	color: #337ab7 !important;
	background-color: #fff;

}

#myrightoplink {
	margin-right: 10px ;
	margin-top: 5px ;
	font-size: 12px;
}

#myrightoplink li a:hover{
	background-color: transparent;
}
#myloginicon {
	padding-right: 5px;
}

#mysignupicon{
	padding-right: 5px;
}

#mynavclass{


}

.search{
    background-color: transparent;
    margin-right: 15px; 
}
.fa-search{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;

}
.search input{
    /*width: 300px;*/
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 10px 5px 30px;

}
