/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require './custom.scss'
 *= require_self
 */



.navbar {
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}

#mynavclass li a:hover{
	color: #23ca98 !important;
	background-color: #fff;
	font-weight: bold;
	border-right: 3px solid #23ca98 !important;

}

 .navbar ul li a:hover{
 color: #23ca98 !important;	
 cursor: pointer; 
 }

#myrightoplink {
	margin-right: 30px ;
	margin-top: 5px ;
	font-size: 12px;
}

#myrightoplink li a:hover{
	background-color: transparent;
}
#myloginicon {
	padding-right: 5px;
	margin-top: 5px;
}

#mysignupicon{
	padding-right: 5px;
	margin-top: 5px;
}

#mynavclass a{
	font-size: 15px !important;
}

#mynavclass li{
	border-right: 2px solid #f2f2f2 !important;
}

.search{
    background-color: transparent;
    margin-right: 15px; 
}
.fa-search{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;

}
.search input{
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 10px 5px 30px;

}
