


#popcategories{
	padding: 5px;
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
	height: 100%;
}

#popcategories a{
	border: 0px !important;
	/*border-bottom: 1px solid #ccc !important;*/
}

#rightpanelshadow{
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}