<footer class="footer">
  <small>
    Latest Technology and Consumer electronics news and reviews.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us",   static_pages_about_us_path %></li>
      <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>